<span ng-controller="addTrainAdminController" >



<div class="modal-body row">
   <div>đang phát triển</div>
   <!-- <table class="table alert alert-success">
        <tr >
            <th style="margin-top: 150px">
                Name
            </th>
            <th>
                <input style="max-width: 400px" class="form-control" ng-model="dataInput.userAdmin"
                       placeholder="nhập user admin">
            </th>
        </tr>

        <tr>
            <th>
                Mật Khẩu
            </th>
            <th>
                <input style="max-width: 400px" class="form-control" type="password" ng-model="dataInput.password"
                       placeholder="nhập password admin">
            </th>
        </tr>
    </table>-->
<!--<button style="text-align: center" ng-click="clickLogin()" class="btn btn-primary col-xs-offset-4" type="button">-->
  <!--Đăng Nhập &lt;!&ndash;<span class="badge">4</span>&ndash;&gt;-->
<!--</button>-->
</div>

