<div ng-controller="showMessgarPayTicketController">

    <div class="modal-body">
        <table class="table table-hover collapse-body">
            <tr>
                <th>Mã số phiếu</th>
                <th>Tên Tàu</th>
                <th>Nơi Đi</th>
                <th>Nơi Đến</th>
                <th>Thời Gian đi</th>
                <th>Thời Gian Đến</th>
                <th>Vị Trí Khoang Tàu</th>
                <th>số ghế</th>
                <th>giá tiền</th>
                <th ng-if="!DetailsTicket1.pay">Thời Giạn Giữ chỗ</th>
                <th ng-if="DetailsTicket1.pay">Trạng Thái</th>
            </tr>
            <tr>
                <th>{{DetailsTicket1['idTicket']}}</th>
                <th>{{DetailsTicket1['name']}}</th>
                <th>{{DetailsTicket1['tenGaDi']}}</th>
                <th>{{DetailsTicket1['tenGaDen']}}</th>
                <th>{{DetailsTicket1['timeStartFilter'] | date:'yyyy-MM-dd HH:mm'}}</th>
                <th>{{DetailsTicket1['timeEndFilter'] | date:'yyyy-MM-dd HH:mm'}}</th>
                <th>{{DetailsTicket1['numberCar'] }}</th>
                <th>{{DetailsTicket1['numberChair']}}</th>
                <th>{{DetailsTicket1['price']}}</th>
                <th ng-if="!DetailsTicket1.pay">7 ngày</th>
                <th ng-if="!DetailsTicket1.pay">Chưa Thanh Toán</th>
                <th ng-if="DetailsTicket1.pay">Đã Thanh Toán</th>
            </tr>
        </table>
    </div>


</div>
