<div ng-controller="cartController" class="row " style="margin-right: 70px"
>
    <table class="table table-bordered">
        <thead class="et-table-header">
        <tr>
            <th style="background-color: lavender;width: 25%;" class="ng-binding">Họ tên<!--Họ tên--></th>
            <th style="width: 120px;background-color: lavender;" class="ng-binding">Thông tin chỗ
                <!--Thông tin chỗ--></th>
            <th style="background-color: lavender;" class="ng-binding">Giá vé<!--Giá vé--></th>
            <th style="background-color: lavender;" class="ng-binding">Khuyến mại<!--Khuyến mại--></th>
            <th style="background-color: lavender;width: 120px;" class="ng-binding">Thành tiền (VNĐ)
                <!--Thành tiền (VNĐ)--></th>
            <th style="background-color: lavender;width: 25px;"></th>
        </tr>
        </thead>
        <tbody class="ng-hide">

        <!-- ngRepeat: ve in ves.khuHoi -->
        </tbody>
        <tbody class="">

        <!-- ngRepeat: ve in ves.chieuDi -->
        <tr ng-repeat="DetailsTicket in listSelect"
            class="ng-scope">
            <td class="et-table-cell" style="padding: 0px;border-bottom: solid 2px #ccc;">
                <div class="input-group input-group-sm" style="margin-bottom: 6px;width: 100%;">
                    <span class="input-group-addon text-left ng-binding" style="width: 84px;">Họ tên</span>
                    <input type="text" placeholder="Thông tin hành khách" ng-model="DetailsTicket['nameADDre']"
                           class="form-control input-sm ng-pristine ng-invalid ng-invalid-required"
                           ng-class="{'et-error-block': ve.nameMissing}" ng-change="syncRegister($index, false)"
                           style="border-top-right-radius: 4px !important;border-bottom-right-radius: 4px !important;"
                           required="">
                </div>

                <div class="input-group input-group-sm" style="width: 100%;">
                    <span class="input-group-addon text-left ng-binding" style="width: 84px;">Số giấy tờ</span>
                    <input type="text" placeholder="Số CMND/ Hộ chiếu/ Ngày tháng năm sinh trẻ em"
                           ng-model="DetailsTicket['soCMND']" maxlength="19"
                           class="form-control input-sm ng-pristine ng-invalid ng-invalid-required"
                           style="border-top-right-radius: 4px !important;border-bottom-right-radius: 4px !important;"
                           required="">
                </div>
            </td>
            <td style="font-size: 10px;border-bottom: solid 2px #ccc;">

                <div>
                    <div class="ng-binding">
                        {{DetailsTicket['name']}} {{DetailsTicket['tenGaDi']}} - {{DetailsTicket['tenGaDen']}}
                    </div>
                    <div class="ng-binding">
                        {{DetailsTicket['timeStartFilter'] | date:'yyyy-MM-dd HH:mm'}}
                    </div>
                    <div class="ng-binding">
                        <!--{{'Toa ' + ve.carNo + ' chỗ ' + ve.seat.ChoSo}}-->
                        Toa {{DetailsTicket['numberCar'] }} chỗ {{DetailsTicket['numberChair']}}
                    </div>
                    <div class="ng-binding">
                        {{DetailsTicket['nameToa']}}
                    </div>
                </div>
            </td>
            <td class="et-table-cell text-right ng-binding" style="border-bottom: solid 2px #ccc;">
                {{DetailsTicket['price']}}
            </td>
            <td class="et-table-cell text-left" style="border-bottom: solid 2px #ccc;">
                <div class="ng-binding">
                    Không có
                </div>
            </td>
            <td class="et-table-cell text-right ng-binding" style="border-bottom: solid 2px #ccc;">
                {{DetailsTicket['price']}}
            </td>
            <td style="vertical-align: middle;border-bottom: solid 2px #ccc;">
                <a analytics-on="click" analytics-event="removeTicket" style="color: #00b3ee" class="et-btn-cancel"
                   ng-click="deleteDetails($index)">Xoá</a>
            </td>
        </tr><!-- end ngRepeat: ve in ves.chieuDi -->
        </tbody>

        <tfoot>
        <tr class="info">
            <td colspan="6">
                <span class="pull-right"><strong class="ng-binding">Tổng tiền<!--Tổng tiền--></strong></span>
            </td>
            <td class="text-right">
                <strong class="ng-binding">{{totalPrice}}</strong>
            </td>
            <td>&nbsp;</td>
        </tr>
        </tfoot>
    </table>
<!--//-->

    <div class="et-register-block"><h5 class="ng-binding">Thông tin người đặt vé</h5>
        <div class="row text-info ng-binding">Quý khách vui lòng
            điền đẩy đủ và chính xác các thông tin về người mua vé dưới đây. Các thông tin này sẽ được sử dụng để xác
            minh người mua vé và lấy vé tại ga trước khi lên tàu theo đúng các quy định của Tổng công ty Đường sắt Việt
            Nam.
        </div>
        <div class="form-horizontal form-group">
            <div class="row ng-hide"
               >
                <div class="col-xs-4 et-col-md-2"></div>

                <div class="col-xs-4 et-col-md-2"></div>
                <div class="col-xs-8 et-col-md-4">
                </div>
            </div>
            <div class="row"><label class="col-xs-4 et-col-md-2 text-left ng-binding">Họ và tên<span style="color: red">*</span></label>
                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px"><input type="text" name="fullName"
                                                                                   class="form-control input-sm ng-pristine ng-invalid ng-invalid-required"
                                                                                   ng-model="register.hoTen"
                                                                                   placeholder="Họ và tên" required=""
                                                                                   ng-class="{'et-error-block': registerNameError}">
                </div>
                <label class="col-xs-4 et-col-md-2 text-left ng-binding" style="padding-right: 0">Số CMND/Hộ chiếu<span
                        style="color: red">*</span></label>
                <div class="col-xs-8 et-col-md-4"><input type="text" name="identity"
                                                         class="form-control input-sm ng-animate ng-dirty ng-invalid ng-invalid-required"
                                                         ng-model="register.soCMND" maxlength="20"
                                                         placeholder="Số CMND/Hộ chiếu" required=""
                                                         style="">
                </div>
            </div>

            <div class="row"><label class="col-xs-4 et-col-md-2 text-left ng-binding"
                                    style="padding-right: 0">Email</label>
                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px"><input type="email" id="email" name="email"
                                                                                   class="form-control input-sm ng-pristine ng-valid ng-valid-email"
                                                                                   ng-model="register.email"
                                                                                   placeholder="Email"
                                                                                >
                </div>
                <label class="col-xs-4 et-col-md-2 text-left ng-binding" style="padding-right: 0">Xác nhận email</label>
                <div class="col-xs-8 et-col-md-4"><input type="email" name="emailConfirm"
                                                         class="form-control input-sm ng-pristine ng-invalid ng-invalid-required ng-valid-email"
                                                         ng-model="register.emailReType" placeholder="Xác nhận email"
                                                         required=""
                                                         ng-class="{'et-error-block': registerEmailReTypeError}"></div>
            </div>
            <div class="row ng-hide" ng-show="registerPhoneError">
                <div class="col-xs-4 et-col-md-2"></div>
                <div class="col-xs-8 et-col-md-4"><span class="et-error-label ng-binding ng-hide"
                                                        ng-show="registerPhoneError">Số di động không hợp lệ</span>
                </div>
            </div>
            <div class="row"><label class="col-xs-4 et-col-md-2 text-left ng-binding">Số di động</label>
                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px"><input type="text" id="phoneNumber"
                                                                                   name="phoneNumber"
                                                                                   class="form-control input-sm ng-pristine ng-valid"
                                                                                   ng-model="register.dienThoai"
                                                                                   maxlength="20"
                                                                                   placeholder="Số di động"
                                                                                   ng-class="{'et-error-block': registerPhoneError}">
                </div>
            </div>
        </div>
        <h5 class="ng-binding">Thông tin xuất hóa đơn</h5>
        <div class="col-md-12 form-group" style="display: none">
            <div class="et-col-md-3"><input type="radio" name="vatType" value="2" ng-model="vatType"
                                            class="ng-pristine ng-valid"> <span class="et-align-top ng-binding">Nhập ngay</span>
            </div>
            <div class="et-col-md-6"><input type="radio" name="vatType" value="1" ng-model="vatType"
                                            class="ng-pristine ng-valid"> <span class="et-align-top ng-binding">Nhập sau (Nhập thông tin sau khi lấy vé)</span>
            </div>
            <div class="et-col-md-3"><input type="radio" name="vatType" value="0" ng-model="vatType"
                                            class="ng-pristine ng-valid"> <span
                    class="et-align-top ng-binding">Khách lẻ</span></div>
        </div>
        <div class="form-horizontal form-group">
            <div class="row ng-hide" ng-show="congtyRequiredError || mstRequiredError || mstValidError">
                <div class="col-xs-4 et-col-md-2"></div>
                <div class="col-xs-8 et-col-md-4"><span class="et-error-label ng-binding ng-hide"
                                                        ng-show="congtyRequiredError">Hãy nhập tên công ty</span></div>
                <div class="col-xs-4 et-col-md-2"></div>
                <div class="col-xs-8 et-col-md-4"><span class="et-error-label ng-binding ng-hide"
                                                        ng-show="mstRequiredError">Hãy nhập mã số thuế</span><br><span
                        class="et-error-label ng-binding ng-hide" ng-show="mstValidError">Mã số thuế không đúng</span>
                </div>
            </div>
            <div class="row"><label class="col-xs-4 et-col-md-2 text-left ng-binding">Tên Công ty<span
                    style="color: red; display: none">*</span></label>
                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px"><input type="text" name="congTy"
                                                                                   class="form-control input-sm ng-pristine ng-invalid ng-invalid-required"
                                                                                   ng-model="register.congTy"
                                                                                   placeholder="Tên Công ty" required=""
                                                                                   ng-class="{'et-error-block': congtyRequiredError}">
                </div>
                <label class="col-xs-4 et-col-md-2 text-left ng-binding">Mã số thuế<span
                        style="color: red; display: none">*</span></label>
                <div class="col-xs-8 et-col-md-4"><input type="text" name="mst"
                                                         class="form-control input-sm ng-pristine ng-invalid ng-invalid-required"
                                                         ng-model="register.mst" placeholder="Mã số thuế" required=""
                                                         ng-class="{'et-error-block': (mstRequiredError || mstValidError)}">
                </div>
            </div>
            <div class="row ng-hide" ng-show="diachiRequiredError">
                <div class="col-xs-4 et-col-md-2"></div>
                <div class="col-xs-8 et-col-md-10"><span class="et-error-label ng-binding ng-hide"
                                                         ng-show="diachiRequiredError">Hãy nhập địa chỉ</span></div>
            </div>
            <div class="row"><label class="col-xs-4 et-col-md-2 text-left ng-binding" style="padding-right: 0">Địa
                chỉ<span style="color: red; display: none">*</span></label>
                <div class="col-xs-8 et-col-md-10"><input type="text" name="diaChi"
                                                          class="form-control input-sm ng-pristine ng-invalid ng-invalid-required"
                                                          ng-model="register.diaChi" placeholder="Địa chỉ" required=""
                                                          ng-class="{'et-error-block': diachiRequiredError}"></div>
            </div>
        </div>
        <h5 class="ng-binding">Phương thức thanh toán</h5>
        <div class="row">
            <div class="col-md-12 form-group"><!-- ngRepeat: item in listCongTT -->
                <div class="col-xs-4 col-sm-4 et-col-md-4 ng-scope" ng-repeat="item in listCongTT"><input type="radio"
                                                                                                          name="phuongThucThanhToan"
                                                                                                          ng-checked="isCheckedCongTT(item.MaCongTT)"
                                                                                                          ng-click="setCongTT(item.MaCongTT)"
                                                                                                          ng-disabled="item.MaCongTT=='PayLater' &amp;&amp; !canPayLatter">
                    <span class="et-align-top ng-binding">Thanh toán trực tuyến</span></div>
                <!-- end ngRepeat: item in listCongTT -->
                <div class="col-xs-4 col-sm-4 et-col-md-4 ng-scope" ng-repeat="item in listCongTT"><input type="radio"
                                                                                                          name="phuongThucThanhToan"
                                                                                                          ng-checked="isCheckedCongTT(item.MaCongTT)"
                                                                                                          ng-click="setCongTT(item.MaCongTT)"
                                                                                                          ng-disabled="item.MaCongTT=='PayLater' &amp;&amp; !canPayLatter">
                    <span class="et-align-top ng-binding">Thanh toán trên PAYOO</span></div>
                <!-- end ngRepeat: item in listCongTT -->
                <div class="col-xs-4 col-sm-4 et-col-md-4 ng-scope" ng-repeat="item in listCongTT"><input type="radio"
                                                                                                          name="phuongThucThanhToan"
                                                                                                          ng-checked="isCheckedCongTT(item.MaCongTT)"
                                                                                                          ng-click="setCongTT(item.MaCongTT)"
                                                                                                          ng-disabled="item.MaCongTT=='PayLater' &amp;&amp; !canPayLatter"
                                                                                                          checked="checked">
                    <span class="et-align-top ng-binding">Trả sau</span></div><!-- end ngRepeat: item in listCongTT -->
            </div>
        </div>
        <div class="row ng-hide"
             ng-show="shortyNameError || passengerInputError || maxPassengerError || maxTicketError || maxTicketPerTrainError || passengerInfoError || ticketError">
            <div class="col-md-12 alert alert-warning">
                <div class="et-error-label"><span class="glyphicon glyphicon-warning-sign"></span> <b
                        class="ng-binding">Thông tin nhập vào chưa chính xác</b></div>
                <div class="et-error-label ng-binding ng-hide" ng-show="passengerInputError">Hãy điền đầy đủ thông tin
                    hành khách
                </div>
                <div class="et-error-label ng-binding ng-hide" ng-show="maxPassengerError">Mỗi giao dịch chỉ cho tối đa
                    5 hành khách
                </div>
                <div class="et-error-label ng-binding ng-hide" ng-show="maxTicketError">Mỗi hành khách chỉ được sở hữu
                    tối đa 2 vé mỗi giao dịch
                </div>
                <div class="et-error-label ng-binding ng-hide" ng-show="maxTicketPerTrainError">Mỗi hành khách chỉ được
                    sở hữu 1 vé trên 1 chuyến tàu
                </div>
                <div class="et-error-label ng-binding ng-hide" ng-show="passengerInfoError">Có hành khách khác tên nhưng
                    trùng số CMTND/ Hộ chiếu?
                </div>
                <div class="et-error-label ng-binding ng-hide" ng-show="shortyNameError">Bạn cần điền đầy đủ họ và tên
                    giống với CMTND
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'et-error-block': notAgreementError}">
            <div ng-show="notAgreementError" class="ng-hide"><span class="et-error-label ng-binding">Bạn chưa đồng ý với những quy định mua vé trực tuyến.</span>
            </div>
            <div><input type="checkbox" ng-model="agreement" class="ng-pristine ng-valid"> <span
                    ng-bind-html="'PBuyTicket_xacNhanDongYMuaVeOnline'|translate" class="ng-binding">Tôi đã đọc kỹ và đồng ý tuân thủ tất cả các <a
                    href="/#/quydinhmuave" target="_blank">quy định mua vé trực tuyến</a>, <a href="/#/khuyenmai"
                                                                                              target="_blank">các chương trình khuyến mại</a> của Tổng công ty đường sắt Việt Nam và chịu trách nhiệm về tính xác thực của các thông tin trên.</span>
            </div>
        </div>
    </div>
</div>