<div class="modal-header">
</div>
<div class="modal-body container">
    <table>
        <div class="form-group"><h6 class="ng-binding">Loại Toa Tàu</h6>

            <!--<input-->
                    <!--type="text" class="form-control input-sm ng-pristine ng-valid"-->
                    <!---->
                    <!--placeholder="Loại Toa Tàu" aria-autocomplete="list" aria-expanded="false"/>-->
            <select ng-model="dataTrainDetailSet.name">
                <option>Toa Điều Hòa</option>
                <option>Toa Giường Nằm</option>
            </select>
        </div>


        <div class="form-group"><h6 class="ng-binding">Số Ghế Trong Toa</h6>

            <input
                    type="text" class="form-control input-sm ng-pristine ng-valid"
                    ng-model="dataTrainDetailSet.totalChair"
                    ng-change="changeNumberChair()"
                    placeholder="Loại Toa Tàu" aria-autocomplete="list" aria-expanded="false"/>
        </div>
    </table>
</div>
<div class="modal-footer">
</div>