<span ng-controller="DialogController">
    <div class="modal-header">
    <h1>Chi tiết</h1>
</div>
<div ng-if="!isPayVisa" class="modal-body">
    <table class="table table-hover collapse-body">
        <tr>
            <th>Tên Tàu</th>
            <th>Nơi Đi</th>
            <th>Nơi Đến</th>
            <th>Thời Gian đi</th>
            <th>Thời Gian Đến</th>
            <th>Vị Trí Khoang Tàu</th>
            <th>số ghế</th>
            <th>giá tiền</th>
        </tr>

         <tr>
            <th>{{DetailsTicket['name']}}</th>
            <th>{{DetailsTicket['tenGaDi']}}</th>
            <th>{{DetailsTicket['tenGaDen']}}</th>
            <th>{{DetailsTicket['timeStartFilter']  | date:'yyyy-MM-dd HH:mm'}}</th>
            <th>{{DetailsTicket['timeEndFilter']  | date:'yyyy-MM-dd HH:mm'}}</th>
            <th>{{DetailsTicket['numberCar'] }}</th>
            <th>{{DetailsTicket['numberChair']}}</th>
            <th>{{DetailsTicket['price']}}</th>
        </tr>
    </table>

<div ng-if="showinput==true">
    <h2 style="text-align: center">Nhập Địa Chỉ</h2>
         <table class="table">
             <tr>
                 <th>
                     <label>Id Chuyến Tàu</label>
                 </th>
                 <th>
                     <label>{{DetailsTicket['id']}}</label>
                 </th>
             </tr>

             <tr>
                 <th>
                     <label>Tên <span style="color: red">*</span></label>
                 </th>

                 <th>
                      <input ng-model="DetailsTicket['nameADDre']">
                     <datalist id="nameHistory" ng-model="DetailsTicket['nameADDre']">
                          <option ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{ item }}"></option>
                      </datalist>
                     <div ng-if="validateInput['name']==false" style="color: red">Phải nhập name</div>
                 </th>
             </tr>

              <tr>
                 <th>
                     <label>Địa Chỉ <span style="color: red">*</span></label>
                 </th>
                 <th>
                      <input ng-model="DetailsTicket['diaChi']">
                    <div ng-if="validateInput['diaChi']==false" style="color: red">Phải nhập địa chỉ</div>

                 </th>
             </tr>

             <tr>
                 <th>
                     <label>Phone <span style="color: red">*</span></label>
                 </th>
                 <th>
                      <input ng-model="DetailsTicket['phone']">
                     <div ng-if="validateInput['phone']==false" style="color: red">Phải nhập phone</div>

                 </th>
             </tr>
              <tr>
                 <th>
                     <label>email</label>
                 </th>
                 <th>
                   <input ng-model="DetailsTicket['email']">
                 </th>
             </tr>
         </table>

</div>
    <button style="float: right" ng-if="showinput==false" ng-click="showinputClick()"
            class="btn btn-primary">Mua Vé</button>
    <button style="float: right" ng-if="showinput==true" ng-click="showinputClick()" class="btn btn-primary">Ẩn</button>
    <button style="float: right;margin-right: 20px" ng-if="showinput==true" ng-click="clickChangeSsPayVisa()"
            class="btn btn-primary">Thanh Toán</button>
    <button style="float: right;margin-right: 20px" ng-if="showinput==true" ng-click="funcBuyTicket(0)"
            class="btn btn-primary">Giữ Ghế</button>


</div>
    <div ng-if="isPayVisa" class="modal-body">
    <h2 style="text-align: center">Thanh Toán Với Visa</h2>
         <table class="table">
             <tr>
                 <th>
                     <label>Số Thẻ</label>
                 </th>
                 <th>
               <input ng-model="DetailsTicket['numberCart']">
                      <div ng-if="validateInput['numberCart']==false" style="color: red">Phải nhập numberCart</div>

                 </th>
             </tr>
                 <tr>
                 <th>
                     <label>Ngày hết hạn</label>
                 </th>
                 <th>
                <select ng-model="DetailsTicket['thangHetHan']">
                 <option ng-repeat="v in [1,2,3,4,5,6,7,8,9,10,11,12]">
                     {{v}}
                 </option>
                </select>
                                          <div ng-if="validateInput['thangHetHan']==false" style="color: red">Phải nhập thangHetHan</div>

                  <select ng-model="DetailsTicket['namHetHan']">
                 <option ng-repeat="v in [2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030]">
                     {{v}}
                 </option>
                </select>
                                          <div ng-if="validateInput['namHetHan']==false" style="color: red">Phải nhập namHetHan</div>

                 </th>
             </tr>
              <tr>
                 <th>
                     <label>CVV/CVC2</label>
                 </th>
                 <th>
              <input ng-model="DetailsTicket['CVV']">
                   <div ng-if="validateInput['CVV']==false" style="color: red">Phải nhập CVV</div>

                 </th>
             </tr>

         </table>
    <button style="float: right;margin-right: 20px" ng-click="funcBuyTicket(1)"
            class="btn btn-primary">Thanh Toán</button>
        <button ng-click="closeThisDialog()" class="btn" style="width: 120px;">Đóng</button>
        <button ng-click="clickChangeSsPayVisa()" class="btn" style="width: 120px;">Quay Lại</button>

</div>
<div class="modal-footer">

</div>
</span>
